<!-- Footer -->

<hr>

<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <ul class="list-inline text-center">
          {% if site.twitter_username %}
          <li class="list-inline-item">
            <a href="https://www.twitter.com/{{ site.twitter_username }}">
              <span class="fa-stack fa-lg">
                <i class="fab fa-twitter fa-lg"></i>
              </span>
            </a>
          </li>
          {% endif %}
          {% if site.facebook_username %}
          <li class="list-inline-item">
            <a href="https://www.facebook.com/{{ site.facebook_username }}">
              <span class="fa-stack fa-lg">
                <i class="fab fa-facebook fa-lg"></i>
              </span>
            </a>
          </li>
          {% endif %}
          {% if site.github_username %}
          <li class="list-inline-item">
            <a href="https://github.com/{{ site.github_username }}">
              <span class="fa-stack fa-lg">
                <i class="fab fa-github fa-lg"></i>
              </span>
            </a>
          </li>
          {% endif %}
          {% if site.weibo_username %}
          <li class="list-inline-item">
            <a href="https://weibo.com/{{ site.github_username }}">
              <span class="fa-stack fa-lg">
                <i class="fab fa-weibo fa-lg"></i>
              </span>
            </a>
          </li>
          {% endif %}
          {% if site.github_bug %}          
          <li class="list-inline-item">
            <a href="https://github.com/{{ site.github_username }}/{{ site.github_bug }}.github.io/issues" title='bug issues,feedback'>
              <span class="fa-stack fa-lg">
                <i class="fa fa-bug fa-lg" ></i>
              </span>
            </a>
          </li>
          {% endif %}
        </ul>
        <p class="copyright text-muted">Copyright &copy; {{ site.author }} {{ 'now' | date: "%Y" }}</p>
      </div>
    </div>
  </div>
</footer>
<script type="text/javascript" src="http://tajs.qq.com/stats?sId=65785600" charset="UTF-8"></script>

