<!-- Navigation -->
<nav class="navbar  navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container">
        <a class="navbar-brand" href="{{"/" | relative_url }}">阿笨哥</a>
        <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navmyblog" aria-controls="navmyblog" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navmyblog">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item ">
                  <a class="nav-link" href="{{"/" | relative_url }}">首页</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{"/blog" | relative_url }}">归档</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{"/about" | relative_url }}">关于</a>
                </li>
            </ul>
        </div>
    </div>
</nav>